.farm-logo{
    width: 60px;
}

/* .title{
    font-family: serif;
} */

.title-container{
    margin-left: 20px;
    padding-top: 20px;
    /* background-color: #f8f2ee; */
} 


.farm-img{
    height: 250px;
    width: 400px;
}

.farm1-img{
    height: 170px;
    width: 300px;
}

.farm2-img{
    height: 120px;
    width: 250px;
}

.feature-box{
    width: 320px;
}

.features-container{
    background-color: #e2daeb;
} 
.farm-search-form{
    border: 1px solid #000;
    height: fit-content;
}


