.farm-logo{
    width: 70px;
}

.title-container{
    background-color: #528e80;
}

.farm-img{
    height: 310px;
    width: 530px;
}

.farm1-img{
    height: 200px;
    width: 350px;
}

.feature-box{
    width: 320px;
}

.features-container{
    background-color: #64aa9a;
}


